# Dependencias
*.d

# Objetos compilador
*.slo
*.lo
*.o
*.obj

# Cabeçalhos pre-compliados
*.gch
*.pch

# Bibliotecas dinâmicas compiladas
*.so
*.dylib
*.dll

# Bibliotecas estáticas compiladas
*.lai
*.la
*.a
*.lib

# Executaveis
*.exe
*.out
*.app
montador
macro_exec
mont_exec

# Arquivos gerados
*.cxx
*.hxx
*.hh

# Arquivos de output
*.pre
*.mcr

# Dcoumentação gerada
latex/
doc/
